version: '3.8'

services:
  web:
    build: .
    container_name: escola_pj_web
    # image: ebd_docker
    # Entrypoint cuidará de rodar migrações e collectstatic (se habilitado)
    # command: gunicorn Escola.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: unless-stopped
  
  nginx:
    image: nginx:latest
    container_name: escola_pj_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/Escola/staticfiles
    depends_on:
      - web
    restart: unless-stopped

volumes:
  static_volume: