{% extends 'tela_inicial/layout_base.html' %}

{% block conteudo %}
<div class="container py-5 text-center">
  <h1 class="mb-4">Painel do Secretário</h1>

  <!-- BOTÕES -->
  <div class="row g-3 justify-content-center">
    <div class="col-md-3">
      <a class="btn btn-primary w-100" href="{% url 'aluno_list' %}">Listar Alunos</a>
    </div>
    <div class="col-md-3">
      <a class="btn btn-primary w-100" href="{% url 'aluno_matricular' %}">Matricular Aluno</a>
    </div>
    <div class="col-md-3">
      <a class="btn btn-primary w-100" href="{% url 'aula_list' %}">Relatório de Aulas / Diário</a>
    </div>
    <div class="col-md-3">
      <a class="btn btn-primary w-100" href="{% url 'aluno_list' %}">Transferir Aluno</a>
    </div>
    <div class="col-md-3">
      <a class="btn btn-primary w-100" href="{% url 'relatorio_trimestre' %}">Relatório do Trimestre</a>
    </div>
  </div>


</div>
{% endblock conteudo %}
