{% extends 'tela_inicial/layout_base.html' %}

{% block conteudo %}
<div class="container py-4">
  <h2>Presenças</h2>

  

  {% if presencas %}
    <ul class="list-group">
      {% for p in presencas %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ p.aluno.nome }}
          <span class="badge {% if p.status == 'P' %}bg-success{% else %}bg-danger{% endif %}">
            {% if p.status == 'P' %}Presente{% else %}Ausente{% endif %}
          </span>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="alert alert-info">Nenhum registro de presença para esta aula.</div>
  {% endif %}

</div>

{% block footer %}{% endblock %}
{% endblock conteudo %}
