{% block conteudo %}
<div class="container py-4">
  <h2>Lista de Secretários</h2>
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>Usuário</th>
        <th>Nome Completo</th>
        <th>E-mail</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>secretario1</td>
          <td>Secretário Exemplo</td>
          <td>secretario@exemplo.com</td>
          <td>
              <button type="submit" class="btn btn-sm btn-danger">Remover</button>
          </td>
        </tr>
    </tbody>
  </table>
  <a class="btn btn-secondary" href="#">Voltar</a>
</div>
{% endblock conteudo %}
